:root {
    --bg-color: #141414;
    --text-color: #C0D0E0;
    --highlight-color-1: #00A6FF50;
    --highlight-color-2: #E764FF50;
    --mouse-x: 0;
    --mouse-y: 0;
}

@font-face {
    font-family: NotoSansMono;
    src: url(res/font/NotoSansMono-VariableFont_wdth,wght.ttf);
}

body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.background{
    background-color: var(--bg-color);
}

.text{
    color: var(--text-color);
    font-family: NotoSansMono, monospace;
}

.title{
    text-align: center;
    font-size: 40px;
    margin-top: 12px;
    font-family: NotoSansMono, monospace;
}

.main{
    padding: 80px 20% 0 20%;
}

.header {
    width: 80%;
    height: 80px;
    position: fixed;
    top: 0;
    background: var(--bg-color);
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-image: linear-gradient(to bottom right, var(--highlight-color-1), var(--highlight-color-2)) 0 1 1 1;
    z-index: 5;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);
}

.card {
    background-color: #FFFFFF0A;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
}

.header ul {
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.header ul li {
    display: inline-block;
    margin: 0 10px;
}

.header ul li a {
    padding: 10px 0;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}