@font-face {
    font-family: NotoSansMono;
    src: url(res/font/NotoSansMono-VariableFont_wdth,wght.ttf);
}

.background{
    background-color: #151719;
}

.text{
    color: #C0D0E0;
    font-family: NotoSansMono, monospace;
}

.title{
    text-align: center;
    font-size: 40px;
    margin-top: 12px;
    font-family: NotoSansMono, monospace;
}

.main{
    padding: 0 20% 0 20%;
}

.header {
    width: 80%;
    margin-left: 10%;
    height: 80px;
    position: fixed;
    top: 0;
    background: #151719;
    border-bottom: 2px solid #E764FF;
    border-left: 2px solid #E764FF;
    border-right: 2px solid #E764FF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header ul {
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.header ul li {
    display: inline-block;
    margin: 0 10px;
}

.header ul li a {
    padding: 10px 0;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}

.header ul li a:hover {
    color: #34495E;
}